.container {
    position: relative;
    width: calc(100% - 60px);
    padding: 10vh 1rem 5vh;
    grid-template-columns: 1fr;
    display: grid;
    gap: 20px;
    z-index: 10;
  }

  @media (max-width: 768px) {
    .container {
        width: calc(100% - 80px);
        grid-template-columns: 1fr;
    }
  }
  
  @media (mix-width: 960px) {
    .container {
        width: calc(100% - 100px);
      grid-template-columns: 1fr 1fr;
    }
  }


@media (min-width: 1200px) {
    .container {
        width: 1000px;
    min-height: 100%;
    margin: 0vh auto 20vh;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    }
  }
  
  